<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <title>{{ site.title }}</title>
   <link rel="stylesheet" href="/styles.css">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
   <header>
      <h1><a href="/">{{ site.title }}</a></h1>
      <p>{{ page.tagline }}</p>
   </header>
   <div class="wrapper">
      {% if page.content_type && page.content_type != "html" %}
        <section class="content">
          {{ content }}
        </section>
      {% else %}
        {{content}}
      {% endif %}
      <footer>
         <ul class="no-dot">
            <li><a href="/2020-11/">2020-11</a></li>
            <li><a href="/2020-03/">2020-03</a></li>
            <li><a href="/2018-11/">2018-11</a></li>
            <li><a href="/2018-06/">2018-06</a></li>
         </ul>
         <ul class="no-dot" style="font-size: smaller;">
           <li><a href="http://creativecommons.org/licenses/by-nc-sa/3.0"><img src="/commons.png"></img></a></li>
           <li><a href="http://twitter.com/#!/michigangraham">theme originator</a></li>
           <li><a href="https://github.com/yar-votes/yar-votes.github.io/issues">comments welcome</a></li>
           <li><a href="https://github.com/yar-votes/yar-votes.github.io/pulls">PRs welcome</a></li>
           <li><a href="https://github.com/yar-votes/yar-votes.github.io">view source</a></li>
           <li><a href="mailto:yardenack@gmail.com">email me</a></li>
         </ul>
      </footer>
   </div>
</body>
</html>
